<!DOCTYPE html>
<html>
  <head>
    <title>Samurai Logistics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial:'shared/favicons' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <div id="app" data-controller="<%= controller.controller_name.gsub "_", "-" %>">
        <%= yield %>
    </div>
  </body>
</html> 
